@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;

}



header { 
    height: calc(125vh - 150px);
    background: no-repeat center/cover url('assets/convento.jpg')

}

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto 30px;

}

header nav p {
    font-weight: bold;
    font-size: 1.15rem;

}   

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
}




.header-content h1 {
    margin-bottom: 1px;
    font-size: 2rem;
    text-align: center;

   

}

.mobile-menu-icon {
    display: none;
}

.mobile-menu{
display: none;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem
    }

    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
    display: block;
    }
    .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    }

    .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .open {
        display: block;
    }
    .mapBox {
        display: flex;
    }
}

.mapBox {
    text-align: center;
    margin: 30px;

}

header h1{
    text-align: left;
    color: rgb(0, 0, 0);
}

header p {
    text-align: center;
    color: #ffffffff;
}

header ul {
    text-align: center;
    color: #ffffffff;

}

footer li {
    list-style: none;
}